/Data/
/Src/CollaborativeModel/
/Src/Model/
/Src/PrivateModel/
*.xml
*.pyc
*.iml
/Src/temp/
/venv/
/Src/PrivateModelTemp/
/Src/EmptyModel/
/Src/EmptyModelFemnist/
/Src/EmptyModelFemnistandMnist/
/Src/PrivateModelNew/
